.navbar {position:fixed; width:100%;}
.pages {width: 100%; height: 100%; display: flex; justify-content: center; align-items: cetner; color:#fff; text-align:center;}
#page1 {background-color: green; }
#page2 {background-color: cadetblue; }
#page3 {background-color: darkgoldenrod; }
#page4 {background-color: deeppink; }