body {height:10000px;}
.container:not(:first-child) {margin-top:150px;}
.navs {background-color:lightblue; color:black;}
.navs > li {float: left; padding: 1rem; width:150px; text-align:center; position:relative; cursor: pointer;}
.subs {display: none; position: absolute; background-color: lightsalmon; left: 0; color:black; padding: 0.5rem; top: 3.1rem; width:100%;}
.subs > li {padding: 0.5rem; cursor: pointer;}
.subs > li:hover {background-color: lightcoral; color: black;}

.navs2 {background-color: lightgoldenrodyellow; color: black;}
.navs2 > div:first-child {float:left; }
.navs2 > ul {float:right;}
.navs2 > ul > li {float:left; }
.subs2 .sub {width: 150px;}
.subs2 .sub > li {padding: 1rem; text-align:center; cursor:pointer; }
.subs2 .sub > li:hover {background-color: lightgreen; color: black;}

.navs3 {background-color: lightsteelblue; color:black;}
.navs3 > div:first-child {float:left; padding:1rem; width:150px; text-align: center;}
.navs3 > ul {float: right; padding: 0 1rem; position:relative;} 
.navs3 > ul > .mn_nav {float:left; padding: 1rem; width: 150px; text-align:center; cursor:pointer;}
.subs3 {width: 100%; padding: 1rem 0; background-color: lightpink; position:absolute; top:3.1rem; left: 0; display: none;}
.subs3 > ul {float:right; padding-right: 1rem;}
.subs3 > ul > li {float:left; }
.subs3 .sub {width:150px;}
.subs3 .sub > li {padding: 1rem; text-align:center; cursor:pointer;}
.subs3 .sub > li:hover {background-color: indigo; color:#fff;}